
@model CityOfTulsaUI.Models.UserModel

@{
   ViewData["Title"] = "Tulsa Fire Department: Dispatch Data";
}

<h5>@ViewData["Title"]</h5>

@section Styles
{
   <link rel="stylesheet" type="text/css" href="@Url.Content("/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("/css/tfddata.css")" />
}

@section Scripts
{
   <script src="@Url.Content("/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>
   <script src="@Url.Content("/js/tfddata.js")"></script>
}

<div class="row mt-4" id="rowDateOptions">

   <div class="col-sm-12 d-flex">

      <div class="form-check float-sm-left align-self-center d-flex mr-3">
         <input class="form-check-input align-self-center mb-1" type="checkbox" value="" id="show_dateoptions" @((Model.UseTFDDateFilter ? "checked" : ""))>
         <label class="form-check-label align-self-center font-weight-bold" for="show_dateoptions" id="label_showdateoptions">
            Filter by response date
         </label>
      </div>

      <div id="dateoptions_btngrp" class="btn-group btn-group-toggle float-sm-left align-self-center @(Model.UseTFDDateFilter ? "" : "cotHidden")" data-toggle="buttons">

         <label class="btn btn-outline-secondary btn-sm @((Model.TFDDateFilterType == DateFilterType.OnDate ? "active" : ""))">
            <input type="radio" name="dateoptions" id="date_on" autocomplete="off" value="@((int)CityOfTulsaUI.Models.DateFilterType.OnDate)" checked> On
         </label>

         <label class="btn btn-outline-secondary btn-sm @((Model.TFDDateFilterType == DateFilterType.AfterDate ? "active" : ""))">
            <input type="radio" name="dateoptions" id="date_after" autocomplete="off" value="@((int)CityOfTulsaUI.Models.DateFilterType.AfterDate)"> After
         </label>

         <label class="btn btn-outline-secondary btn-sm @((Model.TFDDateFilterType == DateFilterType.BeforeDate ? "active" : ""))">
            <input type="radio" name="dateoptions" id="date_before" autocomplete="off" value="@((int)CityOfTulsaUI.Models.DateFilterType.BeforeDate)"> Before
         </label>

         <label class="btn btn-outline-secondary btn-sm @((Model.TFDDateFilterType == DateFilterType.BetweenDates ? "active" : ""))">
            <input type="radio" name="dateoptions" id="date_between" autocomplete="off" value="@((int)CityOfTulsaUI.Models.DateFilterType.BetweenDates)"> Between
         </label>
      </div>
   </div>
</div>
<div class="row d-flex mt-3 flex-nowrap1 @((Model.UseTFDDateFilter ? "" : "cotHidden"))" id="rowDates">
   <div class="align-self-center ml-5 col-xs-4 col-sm-3 col-md-3 col-lg-2 col-xl-2" id="mindate_container">
      <div class="input-group date">
         <input type="text" class="form-control datepicker" placeholder="date" id="mindate">
      </div>
   </div>
   <div class="align-self-center ml-5 text-center col-xs-2 col-sm-1 col-md-1 col-lg-1 col-xl-1 @((Model.UseTFDDateFilter && Model.TFDDateFilterType == DateFilterType.BetweenDates ? "" : "cotHidden"))" id="maxdate_label">
      <span class="label">and</span>
   </div>
   <div class="align-self-center ml-5 col-xs-4 col-sm-3 col-md-3 col-lg-2 col-xl-2 @((Model.UseTFDDateFilter && Model.TFDDateFilterType == DateFilterType.BetweenDates ? "" : "cotHidden"))" id="maxdate_container">
      <div class="input-group date">
         <input type="text" class="form-control datepicker" placeholder="max date" id="maxdate">
      </div>
   </div>
</div>