@{
   ViewData["Title"] = "Tulsa Fire Department: Dispatch Data";
}
<h4>@ViewData["Title"]</h4>

@section Styles
{
   <link rel="stylesheet" type="text/css" href="@Url.Content("/css/tfddata.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("/lib/font-awesome/all.css")" />
   @*<link rel="stylesheet" type="text/css" href="@Url.Content("/lib/mdb-datepicker/css/mdb.min.css")" />*@
   @*<link rel="stylesheet" type="text/css" href="@Url.Content("/lib/mdb-datepicker/css/style.css")" />*@
}

@section Scripts
{
   <script src="@Url.Content("/js/tfddata.js")"></script>
   <script src="@Url.Content("/lib/mdb-datepicker/js/popper.min.js")"></script>
   <script src="@Url.Content("/lib/mdb-datepicker/js/mdb.min.js")"></script>
}

<div class="row mt-4">

   <div class="col-sm-12 d-flex">

      <div class="form-check float-sm-left align-self-center d-flex mr-3">
         <input class="form-check-input align-self-center" type="checkbox" value="" id="show_dateoptions">
         <label class="form-check-label align-self-center font-weight-bold" for="show_dateoptions" id="label_showdateoptions">
            Filter by response date
         </label>
      </div>

      <div class="btn-group btn-group-toggle float-sm-left align-self-center" data-toggle="buttons">

         <label class="btn btn-outline-secondary btn-sm active">
            <input type="radio" name="dateoptions" id="date_on" autocomplete="off" checked> On
         </label>

         <label class="btn btn-outline-secondary btn-sm">
            <input type="radio" name="dateoptions" id="date_after" autocomplete="off"> After
         </label>

         <label class="btn btn-outline-secondary btn-sm">
            <input type="radio" name="dateoptions" id="date_before" autocomplete="off"> Before
         </label>

         <label class="btn btn-outline-secondary btn-sm">
            <input type="radio" name="dateoptions" id="date_between" autocomplete="off"> Between
         </label>
      </div>
   </div>
</div>
<div class="row" id="rowDates">
   <div class="col-sm-6">

   </div>
   <div class="col-sm-6">

   </div>
</div>