
@model CityOfTulsaUI.Models.UserModel
@using CityOfTulsaData

@{
   ViewData["Title"] = "TFD Dispatch Data - Search Results";
   string errorMsg = ViewBag.ErrorMessage;
   string infoMsg = ViewBag.InfoMessage;
   string qryDesc = ViewBag.QueryDescription;
   List<CityOfTulsaData.FireEventHelper> listEvents = (List<CityOfTulsaData.FireEventHelper>)ViewBag.FireEvents;

   if (listEvents == null || listEvents.Count == 0) {
      <h5 class="text-danger">No search results found.</h5>
      if (!(string.IsNullOrWhiteSpace(errorMsg))) {
         <p class="mt-4 text-danger">@errorMsg</p>
      }
      return;
   }

   if (!(string.IsNullOrWhiteSpace(infoMsg))) {
      <input type="hidden" id="info_msg" value="@infoMsg" />
   }
}

@section Styles
{
   <link rel="stylesheet" type="text/css" href="@Url.Content("/lib/datatables/dataTables.min.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("/lib/datatables/DataTables-1.11.3/css/dataTables.bootstrap4.css")" />
   <link rel="stylesheet" type="text/css" href="@Url.Content("/css/tfdresults.css")" />
}

@section Scripts
{
   <script src="@Url.Content("/lib/datatables/dataTables.min.js")"></script>
   <script src="@Url.Content("/lib/datatables/DataTables-1.11.3/js/dataTables.bootstrap4.js")"></script>
   <script src="@Url.Content("/js/tfdresults.js")"></script>
}

<div class="row py-1" id="backtosearch_row">

   <div class="col align-self-center">
      <h5 class="text-muted">@ViewData["Title"]</h5>
   </div>
   <div class="col align-self-center">
      <a href="/TFD/TFDSearch" data-role="button" class="btn btn-sm btn-secondary float-left mr-2"><i class="fas fa-chevron-left"></i><span class="pl-2">Back to TFD Search</span></a>
      <a href="/TFD/TFDResults?mode=download-csv" data-role="button" class="btn btn-sm btn-secondary float-left tooltipster" title="Download search results"><i class="fas fa-download"></i><span class="pl-1">CSV</span></a>
   </div>
</div>

@if (!(string.IsNullOrWhiteSpace(qryDesc))) {
   <div class="row py-1" id="query_desc">
      <div class="col">
            <p class="text-muted">Query Parameters: @Html.Raw(qryDesc)</p>
      </div>
   </div>
}

<div class="row mt-4">

   <div id="results_container" class="col-12" style="display:none;">

      <table id="search_results" class="table table-striped table-bordered">

         <thead>
            <tr>
               <th>Vehicle<br />Info</th>
               <th>Incident #</th>
               <th>Problem</th>
               <th>Response Date</th>
               <th>Address</th>
               <th>Latitude</th>
               <th>Longitude</th>
            </tr>
         </thead>
         <tbody>
            @foreach (FireEventHelper fe in listEvents) {
               <tr>
                  <td class="details-control" data-incidentid="@((fe.IncidentNumber ?? ""))"></td>
                  <td>@((fe.IncidentNumber ?? ""))</td>
                  <td>@((fe.Problem ?? ""))</td>
                  <td>@((fe.ResponseDate.IsValidValue() ? fe.ResponseDate.ToString("MM/dd/yyyy HH:mm") : ""))</td>
                  <td class="map-launcher">@((fe.Address ?? ""))</td>
                  <td class="map-launcher">@((fe.Latitude.IsValidValue() ? fe.Latitude.ToString() : ""))</td>
                  <td class="map-launcher">@((fe.Longitude.IsValidValue() ? fe.Longitude.ToString() : ""))</td>
               </tr>
            }
         </tbody>
      </table>
   </div>
</div>